---AS64510CE---
## Last changed: 2021-01-18 17:51:09 UTC
version 20191112.100140_builder.r1067283;
system {
    host-name AS64510-CE;
    root-authentication {
        encrypted-password "$6$gpY7XwfP$zOYQCMYC/DU0W7msBtUwx8CjNFQHYcHQVlJCydwl7.sTKDPw2Nve3vG935U67yEq6HJRGWL86iHK9A.6CxeJV1"; ## SECRET-DATA
    }
    syslog {
        user * {
            any emergency;
        }
        file messages {
            any notice;
            authorization info;
        }
        file interactive-commands {
            interactive-commands any;
        }
    }
    processes {
        dhcp-service {
            traceoptions {
                file dhcp_logfile size 10m;
                level all;
                flag packet;
            }
        }
    }
}
interfaces {
    ge-0/0/0 {
        unit 0 {
            family inet {
                address 100.64.0.0/31;
            }
        }
    }
    fxp0 {
        unit 0 {
            family inet {
                dhcp {
                    vendor-id Juniper-vmx-VM6005C53832;
                }
            }
        }
    }
    lo0 {
        unit 0 {
            family inet {
                address 198.51.100.1/24;
            }
        }
    }
}
policy-options {
    policy-statement lo0-export {
        from interface lo0.0;
        then accept;
    }
}
routing-options {
    autonomous-system 64510;
}
protocols {
    bgp {
        group as64511 {
            type external;
            export lo0-export;
            peer-as 64511;
            neighbor 100.64.0.1;
        }
    }
}

---PE1----
## Last changed: 2021-01-18 18:51:59 UTC
version 20191112.100140_builder.r1067283;
system {
    host-name PE1;
    root-authentication {
        encrypted-password "$6$nbd0voeF$fz1ADAq3B8/GlWAvr6qrWAriw.vdSTdvgMoQt5brk8iFZg9gFzq2on.TKGUxjh50yCfyOBEr47SpB2CGENNok/"; ## SECRET-DATA
    }
    syslog {
        user * {
            any emergency;
        }
        file messages {
            any notice;
            authorization info;
        }
        file interactive-commands {
            interactive-commands any;
        }
    }
    processes {
        dhcp-service {
            traceoptions {
                file dhcp_logfile size 10m;
                level all;
                flag packet;
            }
        }
    }
}
interfaces {
    ge-0/0/0 {
        unit 0 {
            family inet {
                address 100.64.0.1/31;
            }
        }
    }
    ge-0/0/1 {
        unit 0 {
            family inet {
                address 100.64.0.2/31;
            }
            family iso;
            family mpls;
        }
    }
    fxp0 {
        unit 0 {
            family inet {
                dhcp {
                    vendor-id Juniper-vmx-VM6005C52118;
                }
            }
        }
    }
    lo0 {
        unit 0 {
            family inet {
                address 192.0.2.1/32;
            }
            family iso {
                address 49.0001.1920.0000.2001.00;
            }
        }
    }
}
policy-options {
    policy-statement nhs {
        from route-type external;
        then {
            next-hop self;
        }
    }
}
routing-options {
    autonomous-system 64511;
}
protocols {
    isis {
        interface ge-0/0/1.0 {
            point-to-point;
            level 1 disable;
        }
        interface lo0.0 {
            passive;
            level 1 disable;
        }
    }
    rsvp {
        interface all;
    }
    bgp {
        group as64510 {
            type external;
            peer-as 64510;
            neighbor 100.64.0.0;
        }
        group ibgp {
            type internal;
            local-address 192.0.2.1;
            export nhs;
            neighbor 192.0.2.3;
            neighbor 192.0.2.2;
        }
    }
    mpls {
        label-switched-path to-pe3 {
            to 192.0.2.3;
        }
        interface all;
    }
}

----P2-----
## Last changed: 2021-01-18 18:54:31 UTC
version 20191112.100140_builder.r1067283;
system {
    host-name P2;
    root-authentication {
        encrypted-password "$6$kIDGRWf2$zn9NJyJ1W3Zb89xRj9su4UDBATBVfGS8CRLTNzsJkBDmjigkmrXjP37bF/DFprlcoGz4A6Qb5FE4MF2D81HzA1"; ## SECRET-DATA
    }
    syslog {
        user * {
            any emergency;
        }
        file messages {
            any notice;
            authorization info;
        }
        file interactive-commands {
            interactive-commands any;
        }
    }
    processes {
        dhcp-service {
            traceoptions {
                file dhcp_logfile size 10m;
                level all;
                flag packet;
            }
        }
    }
}
interfaces {
    ge-0/0/1 {
        unit 0 {
            family inet {
                address 100.64.0.3/31;
            }
            family iso;
            family mpls;
        }
    }
    ge-0/0/2 {
        unit 0 {
            family inet {
                address 100.64.0.4/31;
            }
            family iso;
            family mpls;
        }
    }
    fxp0 {
        unit 0 {
            family inet {
                dhcp {
                    vendor-id Juniper-vmx-VM6005C51F72;
                }
            }
        }
    }
    lo0 {
        unit 0 {
            family inet {
                address 192.0.2.2/32;
            }
            family iso {
                address 49.0001.1920.0000.2002.00;
            }
        }
    }
}
protocols {
    isis {
        interface ge-0/0/1.0 {
            point-to-point;
            level 1 disable;
        }
        interface ge-0/0/2.0 {
            point-to-point;
            level 1 disable;
        }
        interface lo0.0 {
            passive;
            level 1 disable;
        }
    }
    rsvp {
        interface all;
    }
    mpls {
        interface all;
    }
}

----PE3------
# Last changed: 2021-01-18 18:55:33 UTC
version 20191112.100140_builder.r1067283;
system {
    host-name PE3;
    root-authentication {
        encrypted-password "$6$M78sgwPQ$c4HUzk1QUl4d7jlRVV9NRgC6326uljJVZEA84UI8lCzUTHEARa926CjXRY6pr2zkFWxYHHLGAz2e6KNBkvqv90"; ## SECRET-DATA
    }
    syslog {
        user * {
            any emergency;
        }
        file messages {
            any notice;
            authorization info;
        }
        file interactive-commands {
            interactive-commands any;
        }
    }
    processes {
        dhcp-service {
            traceoptions {
                file dhcp_logfile size 10m;
                level all;
                flag packet;
            }
        }
    }
}
interfaces {
    ge-0/0/2 {
        unit 0 {
            family inet {
                address 100.64.0.5/31;
            }
            family iso;
            family mpls;
        }
    }
    ge-0/0/3 {
        unit 0 {
            family inet {
                address 100.64.0.6/31;
            }
        }
    }
    fxp0 {
        unit 0 {
            family inet {
                dhcp {
                    vendor-id Juniper-vmx-VM6005C537EA;
                }
            }
        }
    }
    lo0 {
        unit 0 {
            family inet {
                address 192.0.2.3/32;
            }
            family iso {
                address 49.0001.1920.0000.2003.00;
            }
        }
    }
}
policy-options {
    policy-statement nhs {
        from route-type external;
        then {
            next-hop self;
        }
    }
}
routing-options {
    autonomous-system 64511;
}
protocols {
    isis {
        interface ge-0/0/2.0 {
            point-to-point;
            level 1 disable;
        }
        interface lo0.0 {
            passive;
            level 1 disable;
        }
    }
    rsvp {
        interface all;
    }
    bgp {
        group ibgp {
            type internal;
            local-address 192.0.2.3;
            export nhs;
            neighbor 192.0.2.1;
            neighbor 192.0.2.2;
        }
        group as64512 {
            type external;
            peer-as 64512;
            neighbor 100.64.0.7;
        }
    }
    mpls {
        label-switched-path to-pe1 {
            to 192.0.2.1;
        }
        interface all;
    }
}

---AS64512-CE----
## Last changed: 2021-01-18 18:18:45 UTC
version 20191112.100140_builder.r1067283;
system {
    host-name AS64512-CE;
    root-authentication {
        encrypted-password "$6$C5K9i4wI$kErEwYQlxGy/PTD9MJbbUjaJZQ8dB2CsiD6IbV5rzln7zRyMiJxLay/O6ZUYPeSGgtC6nylu0fXxE41w2Z6wP/"; ## SECRET-DATA
    }
    syslog {
        user * {
            any emergency;
        }
        file messages {
            any notice;
            authorization info;
        }
        file interactive-commands {
            interactive-commands any;
        }
    }
    processes {
        dhcp-service {
            traceoptions {
                file dhcp_logfile size 10m;
                level all;
                flag packet;
            }
        }
    }
}
interfaces {
    ge-0/0/3 {
        unit 0 {
            family inet {
                address 100.64.0.7/31;
            }
        }
    }
    fxp0 {
        unit 0 {
            family inet {
                dhcp {
                    vendor-id Juniper-vmx-VM6005C52F86;
                }
            }
        }
    }
    lo0 {
        unit 0 {
            family inet {
                address 203.0.113.1/24;
            }
        }
    }
}
policy-options {
    policy-statement lo0-export {
        from interface lo0.0;
        then accept;
    }
}
routing-options {
    autonomous-system 64512;
}
protocols {
    bgp {
        group as64511 {
            type external;
            export lo0-export;
            peer-as 64511;
            neighbor 100.64.0.6;
        }
    }
}

-------
